<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Security-Policy" />
	<title>Minecraft AI - Event Collection</title>
</head>
<body>
	<p>To test this, right click in the page and select</p>
	<ol>
		<li>Inspect Element</li>
		<li>Network > Check the <b>Disable Cache</b> checkbox</li>
		<li>Console</li>
		<li>Type in "location.reload()" to reload the page on changes</li>
	</ol>
</body>
<script type="module">
    
    import MinecraftAPIClient from '/src/minecraft_api.js';
    
	var minecraft_api = new MinecraftAPIClient();

    minecraft_api.Say(["Hello", "Friend"]);


	/* Minecraft Learns Example */

	// Load in minecraft model using block_broken.csv created before //
	var args = {
		connection: minecraft_api, 
		file_name: "block_broken.csv", 
		model_type: "decision_tree_regression", 
		response_variables: ["FeetPosY", "Biome"],
		features: ["Block"]
	}
	var minecraft_learns = new MinecraftLearns(args);

	// Create a callback function that makes a prediction based on the game data //
	var callback_function_3 = function(data) {
		minecraft_learns.predict(data, ["diamond_ore"])
		.then(
			// Then use the response to move in that direction //
			result => {
				minecraft_api.Say(["to mine this resource go", result.body.prediction]);
			}			
		)
	}

	// Function that cleans the data, then trains it on the previously defined params //
	minecraft_learns.process_data()
	.then(minecraft_learns.train())
	.then(minecraft_api.PlayerTravelledEvent(callback_function_3))

</script>
</html>