body{
    background-color: #373D20;
    /* background-image: url("../src/css/background.png"); */
    color: #252526;
    font-family: monospace;
    font-size: large;

    max-width: 100%;
}

h2{
    /* font-size: x-large; */
    font-smooth: never;
    -webkit-font-smoothing : none;
    margin: 0%;
}

.general{
    background-color: #c6c6c6;
    color: #252526;
    font-size: medium;
    padding: 1%;
}

.wide{
    width: 95wh;
}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.edit-button{
    flex:1;
    width: 30wh;
    height: 50vh;
    align-self: center;

    background-color: #c6c6c6;
}

.edit-text{
    flex:2;
    width: 60wh;
    height: 50vh;
    align-self: center;

    background-color: #c6c6c6;
}

.code{
    background-color: #252526;
    color: #c6c6c6;
}

#container{
    height: 40vh;
}

#console{
    height: 25vh;
    width: 95wh;
    overflow-y: scroll;
}

#overlay {
    display: none;
    width: 100wh;
    height: 100vh;

    background-color: #252526;
    opacity: 0.75;
    color: #c6c6c6;
    text-align: center;
    z-index: 2;
    cursor: pointer;
  }

.button-group{
    text-align: center;
}

/* BUTTON STYLING */
.button-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.button{
    flex: 1;

    background-color: #30ae1f;
    margin: 2%;
    padding: 1%;
    color: #252526;

    max-width: 20%;
}